<<<<<<< HEAD

=======
.mySwiper {
  display: flex;
  text-align: center;
}

.clip {
  clip-path: polygon(0% 0%, 100% 5%, 100% 100%, 0% 95%);
}

.swiperClass {
  -webkit-box-shadow: 0px 3px 37px 15px rgba(18, 44, 64, 0.24);
  -moz-box-shadow: 0px 3px 37px 15px rgba(18, 44, 64, 0.24);
  box-shadow: 0px 3px 37px 15px rgba(18, 44, 64, 0.24);
}
>>>>>>> b23ad91eab9838744fe50c7ab1da82deba01787a
